<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        var carrello = [];

        function addProduct() {
            let filtrato = carrello.filter(x => x.nome == prodottoTXT.value);
            if(filtrato.length > 0) {
                increaseQuantity(filtrato);
            }
            else {
                addNewProduct();
            }
            stampa();
            event.preventDefault(); // submit del form
        }
        function addNewProduct()
        {
            let prodotto = {
                nome: prodottoTXT.value,
                prezzo: 10,
                quantita: 1
            };
            carrello.push(prodotto);
        }
        function increaseQuantity(filtrato) {
            filtrato[0].quantita++;

            // copia = filtrato[0];
            // idx = carrello.indexOf(copia);
            // carrello[idx].quantita++;
        }

        function removeProduct(daRimuovere) {
            idx = -1;
            for(let i = 0; i < carrello.length; i++) {
                if( carrello[i].nome == daRimuovere )
                    idx = i;
            }
            carrello.splice(idx, 1);

            stampa();
        }

        function stampa() {
            carrelloUL.innerHTML = "";
            for (let prodotto of carrello) {
                let item = prodotto.nome;
                // carrelloUL.innerHTML = "<li>" + item + "</li>"
                carrelloUL.innerHTML += /*html*/`<li>${item} - ${prodotto.quantita} <button onclick="removeProduct('${item}')">X</button> </li>`;
            }
        }
    </script>
</head>

<body>

    <form onsubmit="addProduct()">
        <input type="text" id="prodottoTXT">
        <button>Aggiungi</button>
    </form>

    <ul id="carrelloUL">
        <!-- <li>prodotto</li> -->
    </ul>

</body>

</html>